 #Top {
   
    font-size: 18px;
    font-family: Inter;
    word-spacing: 80px;
    text-align: center;
}
h2 {
    text-align: center;
}

body {
    background-color: #D9D9D9; 
}

#logo{
    width: 85px;
    height: 90px;
    float: right;
}

nav {
    width: 90%;
    text-align: left;
    margin-left: 100px;
    word-spacing: 80px;
}



.image-pair {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-right: 20px;
}

.img-container {
    display: flex;
    margin: 70px;
    max-height: 200px;
}

.gallery-img {
    max-width: 100%;
    height: auto;
}


